# Dictonery :

## Dictonery are used to store data in key : value pair.

## It is ordered collection of data type which is changable and do not allow duplicate values

## When we say it as ordered it means the items in dictonery has a defined order which will not change.
## While unordered means the items do not have any defined order and we cannot identify the location or index of item and they cannot be indexed.

## Dictonery are written by using curly braces "{}"

In [2]:
d={}
type(d)

dict

In [3]:
d1={"name":"Vinay", "surname":"Melavane", "address" : "Satara"}

In [4]:
type(d1)

dict

In [5]:
d1

{'name': 'Vinay', 'surname': 'Melavane', 'address': 'Satara'}

## When creating a dictonary, key in dictonary should always be unique, or it will update the old key with newly enterad key. Simply We can not use same key repetatively

In [6]:
d2={"name":"Vinay", "name":"Deepak"}

In [7]:
d2

{'name': 'Deepak'}

## Key can be written by using any data type. It can be string, integer, boolean value, float etc.


## Note: We can not use special character such as @, #, $, %, &, * as key name.

In [8]:
d3={123:"abc" , 45.2 : 123 , True : "adf" , "a": 78 }

In [9]:
d3

{123: 'abc', 45.2: 123, True: 'adf', 'a': 78}

In [10]:
d4={@:"abc"}

SyntaxError: invalid syntax (4269082960.py, line 1)

## Moving towards the value part of Dictonary. Value can be taken as any data type.

## It can be:
1. list
2. tuple
3. Set
4. dictonery
5. integer value
6. float value
7. string
8. boolean value

In [11]:
d5={"name":["Vinay","Nilam","Prasad","Pooja"] , "age":(12,18,16,19) , "length" : {12,20} , "dictonary":{"a":1 , "b":2 , "c":3}}

In [12]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3}}

## Different Methods in dictonery:

### Different methods in Dictonery are:

### 1. clear()
### 2. copy()
### 3. fromkeys()
### 4. get()
### 5. items()
### 6. keys()
### 7. pop()
### 8. popitem()
### 9. setdefault()
### 10. update()
### 11. values()

## 1. clear() : 
### This method is used to remove all the items from dictonery.

In [55]:
dict1={'a':1 , 'b':2 , 'c':3}

In [56]:
dict1

{'a': 1, 'b': 2, 'c': 3}

In [58]:
dict1.clear()

In [59]:
dict1

{}

In [60]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

In [ ]:
d



## How to add pair of key and value in Dictonary?

In [14]:
d5["qualification"]=("b.tech","BSC","m.tech","PHD")

In [15]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}



## We can extract data from dictonary by using key name . In dictonary the key name behaves as index.

In [16]:
d5["qualification"]

('b.tech', 'BSC', 'm.tech', 'PHD')

## Length function:

### Length function identifies and gives the number of pairs of KEY and Value in dictonary.

In [17]:
len(d5)

5

## keys()
## To Exract Keys only from dictonary:

## Use inbuilt function "keys"

In [18]:
d5.keys()

dict_keys(['name', 'age', 'length', 'dictonary', 'qualification'])

## values()

## To Exract Values only from dictonary:

## Use inbuilt function "values"

In [19]:
d5.values()

dict_values([['Vinay', 'Nilam', 'Prasad', 'Pooja'], (12, 18, 16, 19), {12, 20}, {'a': 1, 'b': 2, 'c': 3}, ('b.tech', 'BSC', 'm.tech', 'PHD')])

## We can also get this in form of list by using list function

In [20]:
list(d5.keys())

['name', 'age', 'length', 'dictonary', 'qualification']

In [21]:
list(d5.values())

[['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 (12, 18, 16, 19),
 {12, 20},
 {'a': 1, 'b': 2, 'c': 3},
 ('b.tech', 'BSC', 'm.tech', 'PHD')]

## Also for tuples :

In [22]:
tuple(d5.keys())

('name', 'age', 'length', 'dictonary', 'qualification')

In [23]:
tuple(d5.values())

(['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 (12, 18, 16, 19),
 {12, 20},
 {'a': 1, 'b': 2, 'c': 3},
 ('b.tech', 'BSC', 'm.tech', 'PHD'))

## items()

## To fetch all the items in dictonary :

## Use inbuilt function "items"

In [24]:
d5.items()

dict_items([('name', ['Vinay', 'Nilam', 'Prasad', 'Pooja']), ('age', (12, 18, 16, 19)), ('length', {12, 20}), ('dictonary', {'a': 1, 'b': 2, 'c': 3}), ('qualification', ('b.tech', 'BSC', 'm.tech', 'PHD'))])

In [25]:
list(d5.items())

[('name', ['Vinay', 'Nilam', 'Prasad', 'Pooja']),
 ('age', (12, 18, 16, 19)),
 ('length', {12, 20}),
 ('dictonary', {'a': 1, 'b': 2, 'c': 3}),
 ('qualification', ('b.tech', 'BSC', 'm.tech', 'PHD'))]

## From above code you can understand that each pair of key and value is converted into a seperate tuple.

## To delete pair of Key and value:

## Use inbuilt function "del":

In [26]:
d5["car"]=("maruti","AUDI")

In [27]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD'),
 'car': ('maruti', 'AUDI')}

In [28]:
del d5["car"]

In [29]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

## copy()

## To copy the data in dictonary, There are two methods:

### 1. d6 = d5.copy()
### 2. d5 = d7

## For First case:

### 1. d6 = d5.copy():
  
###  It will create a deep copy or replicate the whole data of dictonary d5, with new memory location assigned to dictonary d6. The changes made in dictonary d5 will not hamper data in d6

In [30]:
d6 = d5.copy()

In [31]:
d6

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

In [32]:
d6["animal"]={'lion','monkey'}

In [33]:
d6

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD'),
 'animal': {'lion', 'monkey'}}

In [34]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

### From above you can understand that the changes made in dictonary d6 will not cause any changes in dictonary d5.

## For second case:

### 2. d5 = d7

### When we try to copy the dictonary by using '=' operator, It creates shallow copy or gives referance of memory location do dictonary d5 to dictonary d7 and not create seperate memory location for dictonary d7. so the changes made in d7 or d5 can be seen in vice versa dictonary.

In [35]:
d7 = d5

In [36]:
d7

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

In [37]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

In [38]:
d7['bird']=["peacock","swan"]

In [39]:
d7

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD'),
 'bird': ['peacock', 'swan']}

In [40]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD'),
 'bird': ['peacock', 'swan']}

## pop function: 
 
### remove specified key and return the corresponding value.

### If the key is not found, return the default if given; otherwise,
### raise a KeyError.

In [41]:
d5.pop("bird")

['peacock', 'swan']

In [42]:
d5

{'name': ['Vinay', 'Nilam', 'Prasad', 'Pooja'],
 'age': (12, 18, 16, 19),
 'length': {12, 20},
 'dictonary': {'a': 1, 'b': 2, 'c': 3},
 'qualification': ('b.tech', 'BSC', 'm.tech', 'PHD')}

## fromkeys() function:

## Create a new dictionary with keys from iterable and values set to value

In [43]:
d8={}

In [44]:
d8.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [45]:
d9={'key_1':['val_1','val_2'], 'key_2':['val_3','val_4']}
d10={'key_3':['val_5','val_6'], 'key_4':['val_7','val_8']}

## update():

## Update function will update the dictonary with given dictonary if given dictonary has different values.

In [46]:
d9.update(d10)

In [47]:
d9

{'key_1': ['val_1', 'val_2'],
 'key_2': ['val_3', 'val_4'],
 'key_3': ['val_5', 'val_6'],
 'key_4': ['val_7', 'val_8']}

In [48]:
d10.update(d9)

In [49]:
d10

{'key_3': ['val_5', 'val_6'],
 'key_4': ['val_7', 'val_8'],
 'key_1': ['val_1', 'val_2'],
 'key_2': ['val_3', 'val_4']}

## Dictonary comprehension:
    
##   Like List Comprehension, Python allows dictionary comprehensions. We can create dictionaries using simple expressions. A dictionary comprehension takes the form {key: value for (key, value) in iterable}

In [50]:
d11={i:i**2 for i in range (1,31)}

In [51]:
d11

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900}

In [52]:
for i in d11.keys():
    if i%2==0:
        print(i,"=",i**2)

2 = 4
4 = 16
6 = 36
8 = 64
10 = 100
12 = 144
14 = 196
16 = 256
18 = 324
20 = 400
22 = 484
24 = 576
26 = 676
28 = 784
30 = 900

In [53]:
for i in d11.keys():
    if i %2 ==0:
        print(d11[i])

4
16
36
64
100
144
196
256
324
400
484
576
676
784
900

In [54]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True