# Set object

## set object are written by using curly brackets. " { } "

## the blank set will be given as dictonary.

In [8]:
s={}

In [9]:
type(s)

dict

In [10]:
s1={1,2,3,4}

In [11]:
type(s1)

set

## The object set gives us unique value, it will remove duplicate value and provide dataset in ordered manner.

In [12]:
s2={1,8,5,4,7,6,2,1,55,4,5,4,45,36,25,25,25,36,6,6,6}

In [13]:
s2

{1, 2, 4, 5, 6, 7, 8, 25, 36, 45, 55}

## we can convert set to list, set to tuple and vice versa.

In [14]:
l1=list(s2)

In [15]:
l1

[1, 2, 4, 5, 6, 7, 8, 36, 45, 55, 25]

In [16]:
t1=tuple(s2)

In [17]:
t1

(1, 2, 4, 5, 6, 7, 8, 36, 45, 55, 25)

In [18]:
l2=[1,1,2,1,2,3,3,4,5,6,77,48,45,48,48]

In [19]:
l2

[1, 1, 2, 1, 2, 3, 3, 4, 5, 6, 77, 48, 45, 48, 48]

In [20]:
s3=set(l2)

In [21]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77}

##  Here above we can that by using set function we can convert the list into set in which as property of set it will remove duplicate element from list arrange it in ordered manner and will return a set.

## By using set we can remove duplicate values from list and tuples.

# Set object is not subscriptable.

## We cannot subcript items in set.

In [22]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77}

In [23]:
s3[2]

TypeError: 'set' object is not subscriptable

## we cannot perform slicing operation on set

In [24]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77}

In [25]:
s3[::-2]

TypeError: 'set' object is not subscriptable

## Reason behind we cannot perform indexing or slicing in set function is because:

### Reading elements of a set in Python basically means accessing one or multiple elements of the set. We know that set values are unordered which means the user is not sure of the order in which data values appear. Therefore, it is unindexed. We cannot access the elements of a set using an index say, set[0]. It will not print the 0th index value, instead, it will return an error

## We can iterate inside set:

### By using for loop we can iterate inside set by using for loop:

In [26]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77}

In [27]:
for i in s3:
    print(i)

1
2
3
4
5
6
77
45
48

# Various inbuilt functions in set are :

1. add()
2. clear()
3. copy()
4. difference()
5. difference_update()
6. discard()
7. intersection()
8. intersection_update()
9. isdisjoint()
10. issubset()
11. issuperset()
12. pop()
13. remove()
14. symmetric_difference()
15. symmetric_difference_update()
16. union()
17. update()

## 1. add()
### It allows add element to set.

In [28]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77}

In [29]:
s3.add(101)

In [30]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101}

### As property of set to hold unique values, if you try to add value which is already present in set will not be added.

In [31]:
s3.add(2)

In [32]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101}

## 2. clear()
### Clear function will remove all the elements from  set. it will return a blank set as "set()" in output

In [33]:
s4={1,2,3,4,5,64,7}

In [34]:
s4

{1, 2, 3, 4, 5, 7, 64}

In [35]:
s4.clear()

In [36]:
s4

set()

## 3.Copy()
### This function will return shallow copy of set

In [37]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101}

In [38]:
s5=s3.copy()

In [39]:
s5

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101}

### Any changes made in parent set cannot be seen in copied set:

In [40]:
s3.add(1001)

In [41]:
s3

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101, 1001}

In [42]:
s5

{1, 2, 3, 4, 5, 6, 45, 48, 77, 101}

## 4. difference()

### This function will return a difference in two set as new set.

In [43]:
s6={1,2,4,5,6,8,9}
s7={1,4,5,9,7,22,55,64}

In [44]:
s6.difference(s7)

{2, 6, 8}

## 5. difference_update()

### The difference_update() method removes the items that exist in both sets.

### The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the common items, and the difference_update() method removes the common items from the original set.

In [45]:
s6

{1, 2, 4, 5, 6, 8, 9}

In [46]:
s7

{1, 4, 5, 7, 9, 22, 55, 64}

In [47]:
s6.difference_update(s7)

In [48]:
s6

{2, 6, 8}

## 6. discard()

### The discard() method removes the specified item from the set.

### This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [50]:
s8={'car','bike','cycle','cart'}

In [51]:
s8.discard("cart")

In [52]:
s8

{'bike', 'car', 'cycle'}

## 7. intersection()

### This function will return a new set with the items which are present in two or more sets.

In [53]:
s9={1,5,2,3,4,7,8,9,2,3,4}

In [54]:
s10={1,2,4,5,7,6,5,85,48}

In [55]:
s9.intersection(s10)

{1, 2, 4, 5, 7}

## 8. intersection_update()

### Intersection method removes the items which are not common in both the sets, and creates a new set with common items which are present in both or in all sets.
### While intersection_update() method will remove the items from original set which are dissimilar with comparision sets and returns original set

In [60]:
s11={'vinay','pratik','omkar'}
s12={'nilam','vinay','aniket'}
s13={'ganesh','omkar','vinay'}

s11.intersection_update(s12,s13)
print(s11)

{'vinay'}

## 9. isdisjoint()

### This function is used to check wether the sets contains common items. If both sets contain no common item it will return true, or it will return false.

In [64]:
s14={'vinay','pratik','omkar'}
s15={'nilam','vinay','aniket'}
s16={'ganesh','kuldeep','kedar'}

s14.isdisjoint(s15)

False

In [65]:
s14.isdisjoint(s16)

True

## 10. issubset()

### This method is used to check weather the set contains all the elemets in specified set. It will return true if it contains the same all item from specified set or it will return false.

In [66]:
s17={1,2,3,4,6}
s18={1,2,3,4,5,6,7,8,9,10,11,12,13}

In [67]:
s17.issubset(s18)

True

In [68]:
s18.issubset(s17)

False

## 11. issuperset()

### The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False

In [69]:
s19={'a','b','c','d','e'}
s20={'a','b','c'}

In [70]:
s19.issuperset(s20)

True

In [71]:
s20.issuperset(s19)

False

## 12. pop()

### The pop() method will remove the random item from the set and will return the removed item

In [73]:
s19

{'a', 'b', 'c', 'd', 'e'}

In [74]:
s19.pop()

'b'

## 13. remove()

### The remove() method is used to remove the specified item from the set. This method is different from the discard() method as discard() method will not return error in element is not present in set while remove() method will generate the error in specified element is not present in the set.

In [82]:
s19

{'a', 'd'}

In [79]:
s19.remove('e')

In [80]:
s19

{'a', 'd'}

In [81]:
s19.remove('b')

KeyError: 'b'

## 14. symmetric_difference()

### The symmetric_difference() method returns a set with all elements which are not common in two sets.

In [83]:
s19

{'a', 'd'}

In [84]:
s20

{'a', 'b', 'c'}

In [85]:
s19.symmetric_difference(s20)

{'b', 'c', 'd'}

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'microsoft', 'cherry'}

## 15. union()

### union() method returns the set with all items in original set and all items in specified set.
### It will exclude the duplicate items. We can specify as mmany sets we want.

In [5]:
x

{'apple', 'banana', 'cherry'}

In [6]:
y

{'apple', 'google', 'microsoft'}

In [7]:
x.union(y)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

### Any iterable object can be specified. such as list, tuple etc.

In [8]:
z=['orange','mango','straberry']

In [10]:
x.union(z)

{'apple', 'banana', 'cherry', 'mango', 'orange', 'straberry'}

## 16 update()

### The update() method will update the current set by adding the all items from specified set.
### If an item is present in both the sets, it will have single occurance in the set as per property of set.

In [11]:
x

{'apple', 'banana', 'cherry'}

In [12]:
y

{'apple', 'google', 'microsoft'}

In [13]:
x.update(y)

### Any iterable object can be specified. such as list, tuple etc.

In [14]:
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [15]:
x.update(z)

In [16]:
x

{'apple',
 'banana',
 'cherry',
 'google',
 'mango',
 'microsoft',
 'orange',
 'straberry'}