# Tuples

## Tuples are used to store multiple items in single veriable. It is collection of data which is ordered and unchangable (immutable).

## Tuple are written by using round bracket, "( )"

In [2]:
t=()

In [3]:
type(t)

tuple

## We can store different type of data items such as string, boolean, float, complex number, integer etc.

In [4]:
t1=(1,2,3,4.5,'vinay',True, 26+5j)

In [5]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

## The data in tuple can be indexed and index starts with 0 and so on. 
 
## for example t[0] will give 1 from t1.

In [6]:
t1[0]

1

In [7]:
t1[4]

'vinay'

## Reverse of tuple can be obtained by indexing method.

t1[::-1]  this result is temporary which is only seen in output cell. The actual order in tuple remains same as it is.

unless we assign this to a new veriable or existing. 

t1=t1[::-1]

In [8]:
t1[::-1]

((26+5j), True, 'vinay', 4.5, 3, 2, 1)

In [9]:
t1[0]

1

We can extract required information from tuple by slicing.

t1[1:4]

In [10]:
t1[1:4]

(2, 3, 4.5)

## Inbuilt function in tuple are:

## The two methods in tuple are : 

### 1. count()
### 2. index()

### 1. count() method : 
   
   ### Count() method in tuple returns the number for the given element in tuple is repeated.
   ### Syntax for count method is : 
   
   ### tuple_name.count (element)

In [11]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

In [12]:
t1.count('vinay')

1

## 2. Index() method :

   ### Index method returns the first occurance of given element from tuple. 
   ### The syntax for index method is : 
   
   ### tuple_name.index (element, start, end)
   ### where, 
   
   ### 1. element : element that is to be searched.
   ### 2. start :  From which index from where you want to start searching. For default it is 0.
   ### 3. end :  upto element till you want to search.

In [13]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

In [14]:
t1.index('vinay',0,7)

4

# Tuple are immutable. 

## We cannot change item in tuple at any index. we can replace tuple. Changing component will give type error.

In [15]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

In [16]:
t1[1]

2

In [17]:
t1[1]=5

TypeError: 'tuple' object does not support item assignment

# We can also iterate in tuple

In [18]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

In [19]:
for i in t1:
    print(i)

1
2
3
4.5
vinay
True
(26+5j)

In [20]:
for i in range(len(t1)):
    print(i)

0
1
2
3
4
5
6

In [21]:
for i in t1:
    print(i,"=",type(i))

1 = <class 'int'>
2 = <class 'int'>
3 = <class 'int'>
4.5 = <class 'float'>
vinay = <class 'str'>
True = <class 'bool'>
(26+5j) = <class 'complex'>

# some Inbult function of python can also be used in tuple:

In [22]:
t2=(2,8,5,3,6,7)
t3=(2,6,5,8,3,4)

In [23]:
t4=(t2,t3)

In [24]:
t4

((2, 8, 5, 3, 6, 7), (2, 6, 5, 8, 3, 4))

## del Function :

### By using del function we can delete tuple.

In [25]:
t4

((2, 8, 5, 3, 6, 7), (2, 6, 5, 8, 3, 4))

In [26]:
del t4

In [27]:
t4

NameError: name 't4' is not defined

## Len function:

### to identify number of element inside tuple, len function is used

In [28]:
t1

(1, 2, 3, 4.5, 'vinay', True, (26+5j))

In [29]:
len(t1)

7